@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  @apply h-full w-full font-kanit bg-dark-bg;
}

/* Global scrollbar styling (optional, but good for dark themes) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #242424;
}

::-webkit-scrollbar-thumb {
  background: #646464;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

@layer components {
  .hero-heading {
    background: linear-gradient(180deg, #646973 0%, #BBCCD7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}